.about{
    text()
    background-color: blue;
    color: blue;
}
body{
    background-color: blue;
}
.container{
    .about{

   
    }
    .meetmebers{
        .meet-left{
            .above-me{
                .person{
                    width: 110px;
                    height: 110px;
                }
            }
        }
    }
}