body{
    font-family: @font ;
    font-size: .9rem; 
    line-height: 1.4;
    }
.about{
    .text();
 
}

.container{
    .about{
padding-bottom: 30px;
   
    }
    .meetmebers{
        padding-top: 30px;
        display: flex;
        justify-content: space-around;
        img{ width: 440px;
            height: 440px;
      //  padding-left: 130px;
      padding: 10px;
    }
                    @media @tablet{
                        flex-direction: column;
                flex-direction: column-reverse;
                align-items: center;
            }
        .meet-left{

            .above-me{
                display: flex;
                .person{
                    width: 210px;
                    height: 210px;
                    padding: 10px;
                    

                }
            
            
            }
            .below-me{
                display: flex;
               .person{ 
                width: 210px;
                height: 210px;
                padding: 10px;
              

            }
            }
        }
    
        .meet-right{ @media @tablet{display: flex;
        flex-direction: column-reverse;
        
        }
        text-align: center;
        
           .list{padding-top: 40px;
            h1{
                font-size: 1.6rem;
            }
            P{
                padding: 20px;
                font-size: 1rem;
                text-decoration: dotted;
            }
        }
        }
    
    
    
    
    }

.swing{
   
    
    

    img{
         width: 100%;
         height: 250px;
         border: @pink solid 2px;
         object-fit: cover;
    }
}




.meb{
        h2{
        font-size: 2.5rem;
        text-align: center;
        padding-top: 30px;
        border-bottom: @yellow solid  4px;
        padding-bottom: 10px;
       
    }

        
        .flexplace{
    display: flex;

    justify-content: space-evenly;
 
    .box{  

padding-top: 20px;
padding-bottom: 20px;
width: 33%;

        p{

text-align: center;
height: 20px;
font-weight: 900;
        }
    }

}

}


.bottom1{
    background-color: @off-white;
    padding: 80px;
    margin-top: 30px;
    h2{
        text-align: center;
        font-size: 2.5rem;
    }
    .social{
        display: flex;
        justify-content: space-evenly;
        padding-top: 30px;
        a{
            img{ width: 65px;
            height: 65px;}
           
            color: black;
            text-decoration: none;
            font-size: 1.3rem;
            @media @phone{
font-size: .9rem;
            } 

        }

}
}
}